body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: monospace;
}

#toDo .strike {
    text-decoration: line-through;
}
#toDo .grey {
    color: grey;
}

#toDo .hide  {
    display: none;
}

#toDo .show {
    display: inline-block;
}

#toDo {
    background-color: #475ef9;
    color: white;
    width: 300px;
    text-align: center;
    border: 2px solid blue;
    height: 460px;
}
#toDo h2 {
    background-color: #0021ff;
    border: 2px solid blue;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
#toDo #txt {
    display: inline-block;
    float: left;
    background-color: #0094ff;
    border-color: blue;
    color: white;
    margin-left: 5%;
    padding: 2%;
    width: 50%;
    text-align: center;
    border: none;
}
#toDo #btn {
    display: inline-block;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 2%;
    border: 2px solid white;
}
#toDo #btn:hover {
    background-color: #475ef9;
    border-color: black;
}
#toDo #clear {
    display: inline-block;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 2%;
    border: 2px solid white;
}
#toDo #clear:hover {
    background-color: #475ef9;
    border-color: black;
    color: red;
}

#toDo #info {
    display: block;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

#toDo #tasks ul {
    float: left;
    margin: 2%;
    list-style: none;
    padding: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    overflow: auto;
    height: 350px;
}

#toDo #tasks ul i, #toDo #tasks ul span, #toDo #tasks ul input {
    margin-left: 1%;
    margin-right: 1%;
}

#toDo #tasks ul span {
    width: 75%;
}

#toDo #tasks ul input {
    border: none;
    padding: 0;
}

#toDo #tasks ul .fa-trash {
    float: right;
}

#toDo #tasks ul .fa-check {
    float: right;
    margin-top: 1%;
}

#toDo #tasks ul .fa-trash:hover {
    color: red;
}

#toDo #tasks ul .fa-check:hover {
    color: #83f17d;
}
