body {
  max-width: none;
}

header, nav, main, footer {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.line {
  width: 5em;
}

.title {
  margin-left: 5%;
}

main #connaissances .title, footer #contacts .title {
  width: 22%;
  margin-right: 2%;
}

main #connaissances .info {
  margin-left: 25%;
}
